.row{
    margin:0 auto;
    padding:0;
}
img-responsive{
    display: block;
    margin: 0 auto;
}

.panel{
    position: absolute;
    display: none;

}

.cloud-square:hover .panel{
    display: block;
}
.cloud-square{
    height:500px;
    border:1px solid black;
}

@media screen and (max-width: 765px) {
    .cloud-square{
        height:150px;
        border:1px solid black;
    }
}