<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <button type="button" class="btn btn-default btn-block" (click)="showInput()">Input Text</button>
        <div *ngIf="ShowInput">
           <input-data-text (textToManipulate)="setTextToManipulate($event)"></input-data-text>
        </div>
      <button type="button" class="btn btn-default btn-block" (click)="showDataGrid()">Text Options</button>
        <div *ngIf="ShowDataGrid">
           <cloud-data-grid #dataGrid [data]="textStructure" (textToManipulate) = "setTextToManipulate($event)" ></cloud-data-grid>
        </div>
      <button type="button" class="btn btn-primary btn-block" (click)="generateCloud()">Generate Own Cloud</button>
      
    </div>
    <div class="col-sm-6">

      <canvas #canvas width="1500px" height="1000px" style= "border:1px solid black; display:none;"></canvas>
       <img #canvasImage width="600px" height="400px" [src]="canvasUrl">
    </div>
  </div>
</div>
