input {display: block !important;
 padding: 0 !important; 
margin: 0 !important;
  width: 100% !important;
 
    line-height: 1 !important;}
td {margin: 0 !important;
 padding: 0 !important;}

 input.small-input{
      min-width: 20px !important;
 }
 td.small-input{
     width:40px;
 }
thead{width:100%}
thead.td{width:70px}