
<table class="table">
        
        <tbody >
          <form #form="ngForm" >
            <tr *ngFor="let i of data">
                <td >{{i.id}}</td>
                <td ><input title="word" type="text" [(ngModel)]="data[i.id].text" [ngModelOptions]="{standalone: true}" (focusout)="onBlurMethod()" ></td>

                <td class='small-input'><input  title="size of text" type="number" [(ngModel)]="data[i.id].size" [ngModelOptions]="{standalone: true}" (focusout)="onBlurMethod()" ></td>
                <td><input class='small-input' title="color of text" type="color" name="favcolor" [(ngModel)]="data[i.id].color" [ngModelOptions]="{standalone: true}" (focusout)="onBlurMethod()"></td>
                <td>
                    <select class="form-control" [(ngModel)]="data[i.id].font" [ngModelOptions]="{standalone: true}" (focusout)="onBlurMethod()">
                        <option [ngStyle]="{'font-family': i.font}">{{i.font}}</option>
                        <option *ngFor="let font of fonts" [ngStyle]="{'font-family': font}">{{font}}</option>
                    </select>
                </td>
                <td>
                    <div class="checkbox small-input">
                        <label> <input title="checkbox for rotating word for 90 degrees" type="checkbox" [checked]="isRotated(i.degrees)" [(ngModel)]="data[i.id].degrees" [ngModelOptions]="{standalone: true}" (focusout)="onBlurMethod()"></label>
                    </div>
                </td>
            </tr>
          </form>
        </tbody>
    </table>

