.thumbnail {
    padding: 0;
    margin-bottom: 0;
    margin-top:10px;
    border-radius:25px;
}

.name{
        border-radius: 25px;
    border: 2px solid #a0bcc5;
    padding: 4px;
    background: #d3d3f7;
    text-align: center;

}
    
.panel{
     position: absolute;
    display: none;
 
}

.image-square:hover .panel{
      display: block;
}
.alert p{
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
}
.big-image{
    margin:0 auto;
}