<div class="container">
    <div  class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">

            <div class="alert alert-info" role="alert">Create your own cloud using our website!</div>
            <div class="alert alert-info" role="alert">Without registration. Just click 'New Cloud'.</div>

        </div>
            <div class="col-lg-12 col-sm-12 col-xs-12"><a title="Cloud of words" >

                <img class="thumbnail img-responsive" [src]="imageUrl"></a>

        </div>

    </div>
</div>